.post-block

  .post-head
    .post-title= post.title
    .post-info
      .post-author= post.author || theme.author.name
      .post-info__sep
      .post-updated= full_date(post.updated)

  .outline-anchor

    #outline.outline!=toc(post.content, {max_depth: theme.toc.max_depth, list_number: theme.toc.list_number})

  article.post-main!= post.content

