.post-block

  .post-head
    .post-title= post.title
    .post-info
      .post-author= post.author || theme.author.name
      .post-info__sep
      .post-updated= full_date(post.updated)

  .outline-anchor
    #outline.outline!=toc(post.content)

  article.post-main!= post.content

