- const {name, degree, motto, field, institution} = theme.author;
.author-overview-outer
  .author-overview
    .author-face(style={'background-image': `url(${url_for(theme.author.face)})`})
    .author-info
      .author-name= name
      if degree
      .author-degree= degree
      if motto
        .author-motto= motto
      if field
        .author-field= field
      if institution
        .author-institution= institution
    .author-social
      a.social-item.icon-email(href="mailto:" + theme.author.email alt="email" style={ 'background-image': `url(${url_for(theme.icon)})`})
      a.social-item.icon-scholar(href=theme.author.googleScholar alt="google scholar" style={ 'background-image': `url(${url_for(theme.icon)})`})
      a.social-item.icon-institution(href=theme.author.institutionLink alt="institution" style={ 'background-image': `url(${url_for(theme.icon)})`})

